[build]
target = "riscv32imc-unknown-none-elf"

[target.riscv32imc-unknown-none-elf]
rustflags = [
    "-C", "link-arg=-Tlink.x",
]

runner = "wlink -v flash --enable-sdi-print --watch-serial --erase"
